<app-navigation></app-navigation>

<div class="container mt-5">
    <p class="fs-5 text-center my-5">Online Movie Making Courses</p>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col" *ngFor="let course of courses">
            <div class="card shadow">
                <img img [src]="course.imageSrc" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ course.title }}</h5>
                  <p class="card-text">{{ course.text }}</p>
                  <div class="d-grid">
                    <button class="btn btn-warning shadow" [disabled]="!isLoggedIn" (click)="openModal(course)"> {{ buttonText }}</button>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" [class.show]="showModal" tabindex="-1" role="dialog" style="display: {{showModal ? 'block' : 'none'}};">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Signup</h5>
        <button type="button" class="close" (click)="closeModal()">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h2>Hello, {{ currentUsername }}</h2>
        <p>Are you sure you want to sign up for <strong>{{selectedCourse?.title}}</strong>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
        <button type="button" class="btn btn-primary" (click)="confirmSignup()">Confirm</button>
      </div>
    </div>
  </div>
</div>